html{
	font-family: 'arial', sans-serif;
	font-size: 16px;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background: url('space-bg.jpg');
	background-size: 100vw 100vh;
	overflow: hidden;
}

.tierra{
	position: absolute;
	z-index: 6;
	width: 40%;
	max-width: 280px;
	right: 10%;
	top: 20%;
}
.luna{
	position: absolute;
	z-index: 5;
	width:12%;
	max-width: 80px;
	right: 20%;
	top: 15%;
}
.jupiter{
	position: absolute;
	width: 50%;
	max-width: 350px;
	bottom: -20%;
	left: -10%;
}
.cometa{
	position: absolute;
	z-index: 10;
	width: 50%;
	max-width: 400px;	
}
img{width: 100%}

.arsat{
	position: absolute;
	top: 40%;
	z-index: 100;
	/*opacity: 0;*/
}


/* 1) definir animacion */

@keyframes rotacion1 {
	/* progression */
	0%{
		transform: rotate(0turn);
		filter: sepia(0);
	}
	
	50%{filter: sepia(1);}

	100%{
		transform: rotate(3turn);
		filter:invert(1);
	}
}

/* 2) ejecutar la animacion en un elemento */
.tierra{
	animation-name: rotacion1;
	animation-duration: 20s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	}
	.tierra:hover{
		animation-play-state: running;
	}
.cometa{
	animation-name: rotacion1;
	animation-duration: 5s;
}


/* logo */
.arsat{
	top:-200px;
	animation-name: "slide-down";
	animation-duration: 5s;
	animation-fill-mode:both;
}
@keyframes slide-down {
	0%{}
	100%{top: 0;}
}
