@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

*{
	box-sizing: border-box;
}
html{
	font-size: 16px ;
	font-family: "Open Sans";
}

body{
	margin: 0;
	padding: 0;
}

.header{
	width: 100%;
	padding: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background: rgba(5, 18, 196, 0.757);
	color:white
	}
	.logo{width: 20%;}
	.navbar{
		}
		.navbar a{
			color: white;
			font-size: 3em;
			}
			.navbar a:active,.navbar a:hover{
				color: rgba(255, 255, 255, 0.441);
			}
	

#contenedor{
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}


.primero{
	background: rgb(207,0,15);
	width: 30%;
	padding: 1.5%;	
}
.segundo{
	background: rgb(34,167,240);
	width: 30%;
	padding: 1.5%;
}
.tercero{
	background: rgb(38,166,91);
	width: 30%;
	padding: 1.5%;
}
.primero:hover, .segundo:hover,.tercero:hover{
	/* transform: scale(1.1); */
}
article img{width: 100%}


/* Media Queries 
sm - 0-580
md - 581-990
lg - 991 -> 
*/

@media (min-width:0px) and (max-width:580px){
	
	/* body{background:tomato} */

	#contenedor{
		flex-direction: column;
		width: 100%;
		padding: 0;
		}
		.primero,.segundo,.tercero{
			width: 100%;
			padding: 2em;
		}

}

@media (min-width:581px) and (max-width:990px){
	/* body{background:rgb(28, 210, 22)} */

	#contenedor{
		width: 100%;
		flex-wrap: wrap;
	}
	.primero{
		width: 100%;
		padding: 2EM;
	}
	.segundo,.tercero{
		width: 50%;
		padding: 2EM;
	}
	.img{
		height: 30vh;
		overflow-y: hidden;
		}
		.primero .img img{
			transform: translateY(-66px);
		} 

}

@media (min-width:991px){
	
}

